// Couleurs
$color-black: #2c2b2e;
$color-white: #f1eff7;

$color-red: #f34646;
$color-green: #5fdd68;

$color-primary: #FAA381;
$color-secondary: #e8e157;
$color-tertiary: #C9DBBA;
$color-quarternary: #75DBCD;