@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Unbounded:wght@200..900&display=swap');

// Variables
@import 'variables';

body {
   font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: $font-title;
}

button {
   font-family: $font-body;
}